#loader-wrapper {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
}
#loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: relative;
    border: 4px solid #f2f2f2;
    animation: animateLoader 2s infinite;
}
#loader:before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #1d7cf2;
    border-color: #1d7cf2 transparent #1d7cf2 transparent;
    animation: animateRipple 2s infinite;
}
@keyframes animateLoader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animateRipple {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
