#map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.states {
  stroke-width: 0.5;
  stroke: #666;
  fill: #f8f8f8;
}

.states:hover {
  stroke: #000;
}

.tooltip {
  position: absolute;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
  line-height: 1.4;
  color: #333;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip.visible {
  opacity: 1;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3498DB;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid #3498DB;
  animation: spin 1s ease-in-out infinite;
}

.text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

