/* Set the height of the map container */
#mapid {
  height: 100vh;
}

/* Style the marker clusters */
.marker-cluster-small {
  background-color: #4daf4a;
  color: #ffffff;
}

.marker-cluster-medium {
  background-color: #377eb8;
  color: #ffffff;
}

.marker-cluster-large {
  background-color: #e41a1c;
  color: #ffffff;
}

/*Legend*/
.legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 1.5;
}

.legend h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.legend div {
  margin-bottom: 5px;
}

.legend img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
